/* *{
    margin:0px;
    padding:0px;
} */
.free{
    background-color: black;
    color:white;
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;

}
.free p{
    padding-left: 100px;
}
.free a{
    float:inline-end;
    color:white;
    margin-left: 600px;
    padding-top: 15px;
}
.beyoung{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
.logo img{
    width:170px;
    height:20px;
    padding-top: 15px;
}
.btn-content{
    display: none; 
    /* position: absolute; */

}
.btn-content a{
    text-decoration: none;
    display: block;
    color:black;
   padding: 5px 5px;
}
.topwear:hover .btn-content{
display: block;
}
.btn {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: bolder;
}
.btn img{
    width:25px;
    height:25px;
    /* margin-top: 20px; */
}
.topwear{
    display: flex;
    /* position: relative; */  
}
.bttn-content{
    display: flex;
    /* position: absolute; */
    
}
.goatsale a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    /* margin-top: 10px; */
}
.goatsale{
    padding-top: 10px;
}
.cart img{
    width:25px;
    height:25px;
    padding-right: 10px;
}
.cart{
margin-left: 50px;
margin-right: 30px;
}
.one-fixed{
    position: sticky;
    background-color: white;
    top: 0%;
}
.two-banner img{
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.three-offerimages{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.three-offerimages img{
    width:auto;
    overflow: hidden;
    padding-right: 15px;
}